name: Scraper Diario to send email to SNP

# Ejecucion de Descargas Diarias (Last 3 days)
on:
  schedule:
    - cron: "0 14 * * *"    # 9AM
    - cron: "0 20 * * *"    # 3PM

  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  run-scraper:
    runs-on: ubuntu-latest
    timeout-minutes: 10    
    env:
      TZ: America/Lima
      DOWNLOAD_DIR: ${{ github.workspace }}/downloads

      # Credenciales de Graph
      #GRAPH_CLIENT_ID: ${{ secrets.GRAPH_CLIENT_ID }}
      #GRAPH_CLIENT_SECRET: ${{ secrets.GRAPH_CLIENT_SECRET }}
      #GRAPH_TENANT_ID: ${{ secrets.GRAPH_TENANT_ID }}

      # Credenciales del portal (SITRAPESCA)
      EMP1_RUC:   ${{ secrets.EMP1_RUC }}
      EMP1_DOC:   ${{ secrets.EMP1_DOC }}
      EMP1_PASS:  ${{ secrets.EMP1_PASS }}
      EMP3_RUC:   ${{ secrets.EMP3_RUC }}
      EMP3_DOC:   ${{ secrets.EMP3_DOC }}
      EMP3_PASS:  ${{ secrets.EMP3_PASS }}


    steps:
      - name: Checkout
        uses: actions/checkout@v4


      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt


      - name: Setup Chrome
        uses: browser-actions/setup-chrome@v1


      - name: Show Chrome version
        run: chrome --version

      - name: Run scraper (headless)
        run: |
          mkdir -p "$DOWNLOAD_DIR"
          python scrapping_diario.py
          echo "Archivos descargados:"
          ls -lah "$DOWNLOAD_DIR" || true

      - name: Send CSVs to SNP via Graph API
        shell: bash
        env:
          GRAPH_CLIENT_ID: ${{ secrets.GRAPH_CLIENT_ID }}
          GRAPH_CLIENT_SECRET: ${{ secrets.GRAPH_CLIENT_SECRET }}
          GRAPH_TENANT_ID: ${{ secrets.GRAPH_TENANT_ID }}
        run: |
            ACCESS_TOKEN=$(curl -X POST https://login.microsoftonline.com/${GRAPH_TENANT_ID}/oauth2/v2.0/token \
              -d "client_id=${GRAPH_CLIENT_ID}" \
              -d "client_secret=${GRAPH_CLIENT_SECRET}" \
              -d "scope=https://graph.microsoft.com/.default" \
              -d "grant_type=client_credentials" | jq -r '.access_token')

            TO="['ccarhuayo@exalmar.com.pe','cmarin@exalmar.com.pe']"
            CC="['ccarhuayo@exalmar.com.pe']"
            BCC="['cmarin@exalmar.com.pe']"
            SUBJECT="PRUEBA TEST SNP"
            BODY="Adjunto CSVs."
          
            # Preparar los archivos adjuntos
            files_args=()
            shopt -s nullglob
            for f in $DOWNLOAD_DIR/*.csv; do
              files_args+=(
                -F "files=@${f};type=text/csv"
              )
            done
      
            # Enviar correo con los archivos adjuntos
            curl -sS -X POST https://graph.microsoft.com/v1.0/users/exalmarpa@exalmar.com.pe/sendMail \
              -H "Authorization: Bearer $ACCESS_TOKEN" \
              -H "Content-Type: multipart/form-data" \
              -F "toRecipients=$TO" \
              -F "ccRecipients=$CC" \
              -F "bccRecipients=$BCC" \
              -F "subject=$SUBJECT" \
              -F "body=$BODY" \
              "${files_args[@]}"
